extends layout

block content
	div#favs.hiddenLeft
		h3="saves your faves"
		ul#favDrop
			li(class='draggable')
				a(class='referralLink')="what?"
			li(class='draggable')
				a(class='referralLink')="what?"
	h1="Business Name Generator"
	h5="find your domain"
	div#search
		input#suggestion
		div.searchButton(onclick="random()")="Fire the Generator!"
	div#resultsSummary
		h3
			span#resultNum="Click For"
			span=" Available Names"
		ul#results
		li(class='draggable')
			a(class='referralLink')="what?"
		li(class='draggable')
			a(class='referralLink')="what?"
		li(class='draggable')
			a(class='referralLink')="what?"
		li(class='draggable')
			a(class='referralLink')="what?"
		li(class='draggable')
			a(class='referralLink')="what?"
	div#loading="loading"
